body {
    background-image: 
    linear-gradient(
        to top right, #885CF6, #EC4899
    );
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.slider {
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
}